<!DOCTYPE html>
<html>

<head>

</head>

<body>

	<h1> Poker Hands </h1>

	<a href="http://localhost:3000/poker"> Refresh this page to deal a new hand </a>

	<ul>
	 	<li> <%= @numbers1 %> of <%= @suits1 %> </li>
		<li> <%= @numbers2 %> of <%= @suits2 %> </li>
		<li> <%= @numbers3 %> of <%= @suits3 %> </li>
		<li> <%= @numbers4 %> of <%= @suits4 %> </li>
		<li> <%= @numbers5 %> of <%= @suits5 %> </li>
	 
	</ul>

</body>

</html>